* {
  font-family: "Playfair Display", serif;
}

main {
  min-height: 80vh;
}

a {
  text-decoration: none;
  font-weight: bold;
}

h1,
h2 {
  color: rgb(236, 183, 234);
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.navbar-bg-color {
  background: rgba(218, 112, 214, 0.5); /* Light Pink (variant of purple) */
  backdrop-filter: blur(10px); /* Blur effect */
  border: 1px solid rgba(218, 112, 214, 0.3); /* Border for better visibility */
  padding: 20px; /* Adjust padding as needed */
  box-shadow: 0 4px 6px rgba(218, 112, 214, 0.1),
    0 1px 3px rgba(218, 112, 214, 0.08); /* Shadow for depth */
}

.glass-container {
  background: rgba(255, 255, 255, 0.5); /* Glass effect */
  border-radius: 20px; /* Adjust the radius as needed */
  backdrop-filter: blur(10px); /* Blur effect */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Border for better visibility */
  padding: 20px; /* Adjust padding as needed */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Shadow for depth */
}
